name: test-kubernetes
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-kube:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
          os: [ubuntu-18.04]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Install
      run: |
        ./tools/setup_kube.sh
    - name: Test with pytest
      run: |
        python3 -m pytest test_env.py -vrf -k "Kubernetes"
