name: test-simulator
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-sim:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
          os: [macos-latest, ubuntu-18.04]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Install
      run: |
        ./tools/setup_sim.sh
    - uses: actions-rs/cargo@v1
      with:
        command: test
        args: --verbose, --manifest-path test_filter_outputs/Cargo.toml
